.project__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project__image-box {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  right: 0;
  @include square-size(100%);
  transform: translateY(100%);

  transition: transform var(--shift);

  padding: 63px 24px;

  @include f-size-height(18px, 1.56);

  color: var(--second-acsent-color);

  background-color: var(--acsent-color-transparent);

  .project:hover &,
  .project:focus & {
    transform: translateY(0);
  }
}

.project__title {
  margin-bottom: 4px;

  @include text-title(700, 18px, 2, start);

  letter-spacing: 0.06em;
}

.project__type {
  @include f-size-height(16px, 1.88);
}
